*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fa;
    padding:40px;
    color:#333;
}

.container{
    max-width:1200px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    margin-bottom:10px;
    color:#1f2937;
}

p{
    text-align:center;
    margin-bottom:35px;
    color:#6b7280;
}

h2{
    margin-top:30px;
    margin-bottom:20px;
    color:#2563eb;
}

div{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:8px;
    font-size:15px;
    transition:0.3s;
}

input:focus,
select:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 5px rgba(37,99,235,0.3);
}

button{
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1d4ed8;
}

div{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:8px;
    font-size:15px;
    transition:0.3s;
}

input:focus,
select:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 5px rgba(37,99,235,0.3);
}

button{
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1d4ed8;
}
.prediction-card{

    margin-top:30px;
    padding:25px;
    text-align:center;
    border-radius:12px;
    background:#ecfdf5;
    border:2px solid #22c55e;

}

.prediction-card h2{

    color:#166534;
    margin-bottom:15px;

}

.prediction-card h3{

    font-size:32px;
    color:#15803d;

}
.prediction-card p{
    margin-top:15px;
    font-size:20px;
    color:#374151;
}